#main_boxse{
display: flex;
gap: 2px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#login_container{
    height: 540px;
    width: 455px;
    margin-left: 230px;
    margin-top: 90px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid; 
}
#boxes{
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 540px;
    width: 400px;
    display: flex;
    margin-top: 90px; 
    /* padding-bottom: 30px; */
}
#medium_box{
    border: 1px solid red ;
  display: block;
    height: 250px;
    width: 300px;
    margin-top: 70px;
    margin-left: 50px;

   
  
}




#zoom{
    height: 60px;
    width: 330px;
    margin-top: 30px;
    margin-left: 20px; 
         
}


#sets{
    margin-top: 3px;
    font-size: x-large;
    margin-left: 40px;
    margin-bottom: 0px;
}


#statement{
    margin-left: 40px; 
    margin-top: 10px;  
}
/* #email_address{
    margin-bottom: 10px;
    gap: 10px;
    padding-right: 10px;
} */


#email{
    border: 4px solid rgb(244, 240, 237) ;
    height: 40px;
    width: 80%;
    margin-left: 30px;
    font-size: large;
   margin-bottom: 5px;
    background-color: rgb(244, 240, 237);
    border-radius:5px;
}


#login_button{
    margin-top: 40px;
    height: 45px;
    width: 82%;
    margin-top: 10px;
    margin-left: 30px;
    font-size: large;
    border: 2px solid rgb(26, 126, 241) ;
    background-color: rgb(26, 126, 241);
    border-radius: 5px;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
}


#forgot{
    margin-top: 50px;
    height: 40px;
    width: 82%;
    margin-left: 30px;
  margin-top: 20px;
    font-size: large;
    background-color: rgb(251, 251, 251);
    color: rgb(26, 126, 241);
    font-size: large;
    font-weight: bold;
    border: 1px solid rgb(251, 251, 251);
}


#line{
    border: 0.1px solid gray;
    margin-left: 30px;
    width: 80%;
    background-color: rgb(243, 243, 243);
}


#sign_in_using{
    font-size: larger;
}


#under_p{
    margin-top: 10px;
    margin-left: 30px;
}


#logee{
  
    height:50px;
     width: 82%; 
     gap: 10px;
     margin-top:40px;
    margin-left: 30px;  
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-radius: 7px;
}


#paper{
  
    height:55%;
    width:100% ;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


#none{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}


 
/* ..............................enginsign.css......................... */



#logo{
    text-align: center;
    margin-top: 70px;
}


#heat{
    height: 100%;
    width: 350px;
    text-align: center;
}


#frame{
    height: 400px;
    width: 490px;
    margin: auto;
    padding-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(245, 246, 247);
}


#name{
    border: 1px solid rgb(185, 184, 184) ;
    margin-bottom: 40px;
    height: 40px;
    width: 78%;
   margin-left: 50px;
   font-size: larger;
   background-color:rgb(245, 246, 247);
   margin-bottom: 30px;
   border-radius: 3px;
}


#sign_up{
    background-color: green;
    border: 1px solid green;
    height: 40px;
    width: 40%;
    font-weight: bold;
    font-size: larger;
    margin-left: 150px;
    color: white;  
}


#sign_agree{
    font-size: x-small;
    margin-left: 50px;
    text-align: center;
    padding: 20px;
}


#foot_copy{
    text-align: center;
    padding: 20px;
}


#body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}


#icon{
    height: auto;
    width: 22px;
    margin-right: 10px;
}


/*............................................. event.css.................................. */



#event{
    height: 140px;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    background: url(https://www.manageengine.com/images/new-solutions-banner.jpg);
    color: white;
    text-align: center;
}


h1{
    padding-top: 30px;
}


#event_navigation{
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-bottom: 30px;
   

}


#event_navigation ul li #activeclasses{
    border-bottom:4px solid rgb(25, 60, 149) ;
    border-bottom-width:4px ;
    border-bottom-style:solid ;
    border-bottom-color:rgb(25, 60, 149) ;
    opacity: 1;
}


#event_navigation ul li{
    font-size: 1.3em;
    color: #193c95;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    position: relative;
}


#events{
   margin-bottom: 30px;
   height: 40px;
   display: flex;

   /* justify-content: space-evenly; */
   
}


#Selectbytypes{
    background-color: white ;
    font-weight: bold;
    text-align: center;
    margin-left: 35px;
     height: 100%;
      width: 200px;
      margin-left: 200px;
      border-radius: 7px;
    }
    #Selectbydate{
        display: none;

    }
    #Selectbydate{
   
        background-color: white ;
        font-weight: bold;
        text-align: center;
        margin-left: 100px;
        /* margin: auto; */
        justify-content: end;
        
          height: 100%;
          width: 200px;
        
          border-radius: 7px;
        }
        
        #Selectbydate:hover{
            background-color: rgb(1, 1, 21);
            color: white;
            
        }
    



#Selectbytypes:hover{
    background-color: rgb(1, 1, 21);
    color: white;
    
}


#container{
   gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 30px;
}



#flex{
  
    height: 275px;
    width: 318px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* border-radius: 7px; */
    margin-bottom: 10px; 
}


#flex>img{
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
    height: 50px;

}


h2{
    font-size: medium;
    margin-left: 10px;
}


p{
    margin-left: 10px;
    margin-bottom: 40px;
}
#underline{
    margin: auto;
    width: 88%;
 
    margin-top: 40px;
}



#resister{
    text-align: center;
    font-size: x-large;
   color: orange;
    margin-top: 10px;
}
/* #solo{
    color: orange;
   margin-top: 20px; 
}  */
#resister:hover{
    color: white;
    background-color: rgb(231, 210, 20);
  margin-bottom: 90px;
    height: 40px;
    
}


/*............................................... pasteevent.css ..................................*/



#eventss{
    
   margin-top: 200px;
    height: 50px;
 
    display: flex;
    justify-content: end;
    
    

}
#Selectbytype{
   
background-color: white ;
font-weight: bold;
text-align: center;
margin-left: 35px;

  height: 100%;
  width: 200px;

  border-radius: 7px;
}

#Selectbytype:hover{
    background-color: rgb(1, 1, 21);
    color: white;
    
}