@font-face {
   font-family: "Zoho_Puvi_Regular";
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_regular.eot);
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_regular.eot) format("embedded-opentype"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_regular.woff2) format("woff2"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_regular.otf) format("opentype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Zoho_Puvi_RegularItalic";
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_regular.eot);
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_regular.eot) format("embedded-opentype"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_regular.woff2) format("woff2"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_regular.otf) format("opentype");
   font-weight: 400;
   font-style: oblique;
   font-display: swap;
}

@font-face {
   font-family: "Zoho_Puvi_Medium";
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_medium.eot);
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_medium.eot) format("embedded-opentype"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_medium.woff2) format("woff2"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_medium.otf) format("opentype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Zoho_Puvi_SemiBold";
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_semibold.eot);
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_semibold.eot) format("embedded-opentype"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_semibold.woff2) format("woff2"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_semibold.otf) format("opentype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Zoho_Puvi_SemiBoldItalic";
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_semibold.eot);
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_semibold.eot) format("embedded-opentype"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_semibold.woff2) format("woff2"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_semibold.otf) format("opentype");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Zoho_Puvi_Bold";
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_bold.eot);
   src: url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_bold.eot) format("embedded-opentype"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_bold.woff2) format("woff2"),
      url(https://fonts.zohostatic.com/zohopuvi/3.5/zoho_puvi_bold.otf) format("opentype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto Condensed";
   font-weight: 400;
   font-style: normal;
   src: url(https://webfonts.zohostatic.com/robotocondensedregular/font.eot);
   src: url(https://webfonts.zohostatic.com/robotocondensedregular/font.eot?#iefix) format("eot"),
      url(https://webfonts.zohostatic.com/robotocondensedregular/font.woff2) format("woff2"),
      url(https://webfonts.zohostatic.com/robotocondensedregular/font.woff) format("woff"),
      url(https://webfonts.zohostatic.com/robotocondensedregular/font.ttf) format("truetype"),
      url(https://webfonts.zohostatic.com/robotocondensedregular/font.svg#RobotoCondensed-Regular) format("svg");
}

* {
   margin: 0px;
   border: 0px;
   box-sizing: border-box;
   font-family: "Zoho_Puvi_Regular";
}

li > a {
   color: gray;
}
.mainHeader {
   display: block;
}
.topHeader {
   display: flex;
   justify-content: flex-end;
   height: 40px;
   color: gray;
   margin-bottom: 2px;
}

.topHeader > .topHeader-rhs {
   width: 27%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   list-style-type: none;
   border-bottom: 1px solid rgba(128, 128, 128, 0.725);
}
.topHeader > .topHeader-rhs > li {
   text-decoration: none;
   cursor: pointer;
   position: relative;
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0px 5px;
}
.topHeader > .topHeader-rhs > li > a {
   text-decoration: none;
}

.contactDrop {
   position: absolute;
   background: #1d2532;
   color: #fff;
   width: 200px;
   padding: 5px 10px;
   top: 39px;
   right: 10;
   left: -4px;
   line-height: 2;
   font-size: 0.9em;
   display: none;
   z-index: 99;
}
.contactDrop > a {
   font-size: 0.9em;
   color: #ccc;
   padding: 2px;
   display: block;
   line-height: 1.1;
   transition: all 0.4s;
   text-decoration: none;
}
.contactDrop > a:hover {
   border-bottom: 1px solid gray;
   width: fit-content;
}
.topHeader-rhs > li:first-child:hover .contactDrop {
   display: block;
}

.userDrop {
   position: absolute;
   background: #1d2532;
   color: #fff;
   width: 240px;
   padding: 5px 10px;
   top: 39px;
   right: 0px;
   left: -200px;
   line-height: 2;
   display: none;
   z-index: 99;
}
.userDrop > a {
   font-size: 0.9em;
   color: white;
   text-decoration: none;
}

.userDrop > a:hover {
   border-bottom: 1px solid white;
}
.topHeader-rhs > li:nth-child(5):hover .userDrop {
   transition: all 0.5s;
   display: block;
}
.searchDrop {
   position: absolute;
   background: #feffff;
   width: 100vw;
   height: 400px;
   padding: 5px 10px;
   top: 39px;
   right: -10px;
   display: none;
   border-bottom: 1px solid #1d2532;
   z-index: 9999;
   cursor: auto;
   z-index: 99;
}
.topHeader-rhs > li:nth-child(6):hover .searchDrop {
   transition: all 0.5s;
   display: block;
   transition: all ease-in-out 1s;
}
#advanceSearch {
   display: block;
   border: 1px solid #1d2532;
   width: 70%;
   height: 50px;
   margin: auto;
   margin-top: 40px;
   padding: 0px 15px;
   font-size: 25px;
   font-weight: 600;
   text-align: center;
   color: rgb(81, 81, 81);
   border-radius: 5px;
}
.searchDrop > .searchSuggestions {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   gap: 15px;
   width: 70%;
   margin: auto;
   margin-top: 30px;
   line-height: 0.8;
   transition: all linear 0.5s;
}
.searchDrop > .searchSuggestions > a {
   color: rgb(89, 89, 89);
   text-decoration: none;
   font-size: 0.8em;
}
.searchDrop > .searchSuggestions > a:hover {
   color: black;
   font-weight: 600;
}

.bottomHeader {
   height: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   position: relative;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.bottomHeaderSticky {
   position: fixed;
   top: 0;
   width: 100%;
}
.companyLogo {
   width: 25%;
   display: flex;
   align-items: center;
   transition: all ease-in-out 0.5s;
}
.companyLogo > img {
   width: 70%;
}
.companyLogo > img + img {
   width: 15%;
   margin-left: 8px;
}
.reduceLogosize {
   padding: 15px 20px;
   justify-content: center;
}
.navMenu {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.navMenu > li {
   list-style: none;
   display: block;
   width: 15%;
   height: 100%;
   color: rgba(79, 79, 79, 0.911);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   cursor: pointer;
}
#ProductMenu:hover > ul,
#CompanyMenu:hover > ul,
#SupportMenu:hover > ul,
#EventMenu:hover > ul {
   display: block;
}
.productOptions {
   position: absolute;
   top: 98%;
   left: -400px;
   /* width: 400px; */
   height: 500px;
   display: none;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.optionSubOption1 {
   /* width: 700px; */
   position: absolute;
   left: 100%;
   top: -10px;
   background-color: white;
   display: none;
   justify-content: space-around;
   border: 1px solid red;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.optionSubOption1 > div {
   width: 30%;
}
.navMenuOptions > ul > li:hover .optionSubOption1 {
   display: flex;
}

.companyOptions {
   position: absolute;
   background: #333;
   width: 210px;
   height: 80vh;
   padding: 10px 5px;
   top: 50px;
   left: 0;
   line-height: 2.5;
   font-size: 0.9em;
   font-family: Zoho_Puvi_Medium;
   display: none;
   z-index: 99;
   cursor: default;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.supportOptions {
   position: absolute;
   background: #333;
   width: 210px;
   height: 80vh;
   padding: 10px 5px;
   top: 50px;
   left: 0;
   line-height: 2.5;
   font-size: 0.9em;
   font-family: Zoho_Puvi_Medium;
   display: none;
   z-index: 99;
   cursor: default;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.eventOptions {
   position: absolute;
   background: #333;
   width: 200px;
   height: 80vh;
   padding: 10px 5px;
   top: 50px;
   left: 0;
   line-height: 2.5;
   font-size: 0.9em;
   font-family: Zoho_Puvi_Medium;
   display: none;
   z-index: 99;
   cursor: default;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.optionSubOption {
   position: absolute;
   top: 0px;
   left: 100%;
   background-color: white;
   padding: 20px;
   height: 80vh;
   width: 0;
   display: none;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navMenu > li > ul > li ul > li:hover a {
   padding-bottom: 5px;
   color: black;
   border-bottom: 2px solid #e04b3a;
}

.navMenu > li > ul > li:hover > ul {
   display: block;
   width: 100%;
   animation: showSubOption 0.3s ease-in-out both;
}
@keyframes showSubOption {
   0% {
      width: 0%;
   }
   100% {
      width: 100%;
   }
}
.navMenu > li > ul > li > a {
   color: white;
   padding-bottom: 5px;
   position: relative;
}
.lastoption {
   text-align: center;
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   height: 40px;
   background-color: #e04b3a;
}
.navMenu li {
   padding: 0px 10px;
   list-style: none;
   cursor: pointer;
}

.navMenu > li > ul > li > a::after {
   content: "";
   display: block;
   position: absolute;
   bottom: -5px;
   width: 0;
   height: 3px;
   background: #e04b3a;
   transition: width 0.2s;
}
.navMenu > li > ul > li:hover > a::after {
   width: 105%;
}

.navMenu > li:hover {
   color: rgb(15, 15, 15);
}

.navMenu > li:hover::after {
   content: "";
   position: absolute;
   top: 38px;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
   border-bottom: 12px solid #333;
   z-index: 99999;
   opacity: 0;
   animation: 0.5s opec forwards;
}
@keyframes opec {
   form {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.navMenuOptions > .tab-nav {
   background-color: #333;
   padding: 10px 0px;
   width: 400px;
}

.navMenuOptions > .tab-nav > li {
   list-style: none;
   width: 100%;
   height: 50px;
   cursor: pointer;
   position: relative;
   border-bottom: 1px solid #555;
   padding: 0px;
}
.navMenuOptions > .tab-nav > li > a {
   display: flex;
   align-items: center;
   color: white;
   width: 100%;
   height: 100%;
}
.navMenuOptions > .tab-nav > li::after {
   content: ">";
   display: inline-block;
   position: absolute;
   right: 10px;
   color: #fff;
   top: 50%;
   transform: translateY(-50%);
}
.navMenuOptions > .tab-nav > li:hover {
   background-color: rgba(123, 123, 123, 0.413);
}
.navMenuOptions > .tab-nav > li .tabIcon {
   width: 15%;
   height: 100%;
   font-size: 20px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   color: #3197d7;
   padding-right: 10px;
}

.navMenuOptions > .tab-nav > li .tabContent {
   width: 85%;
   height: 100%;
   font-size: 30px;
   font-size: 12px;
   padding: 5px 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.navMenuOptions > .tab-nav > li .tabContent .subTitle {
   font-size: 0.7em;
   opacity: 0.9;
}

.optionActive {
   display: flex;
}

/* .tag-nav-active .tabContent {
   color: black;
   font-weight: 600;
} */

h2.tab-title {
   padding: 0 10px;
   color: #e02b45;
   margin-bottom: 0;
   margin-top: 0;
   line-height: 1.4;
   font-size: 14px;
}

h2.tab-title a {
   color: #e02b45;
   text-decoration: none !important;
   cursor: unset;
}
span.hdng-desc {
   font-family: Zoho_Puvi_Regular;
   display: block;
   margin-top: 5px;
   font-size: 11px;
   color: #000;
}
.products-lists {
   padding: 15px 7px 7px;
}
.products-lists > li {
   margin-bottom: 15px;
}
.products-lists > li > a {
   text-decoration: none;
}
.products-lists > li > a > span {
   line-height: 1.3;
   font-family: Zoho_Puvi_Medium;
   font-size: 14px;
   color: #000;
}
.products-lists > li:hover > a > span {
   color: #e02b45;
}
.products-lists > li > a > p {
   font-size: 0.7em;
}

.downloadBtn {
   width: 15%;
   display: flex;
   justify-content: flex-end;
}

#FreeDownloadBtn {
   background: #fff;
   border: 1px solid #dd002c;
   padding: 10px 15px;
   border-radius: 4px;
   color: #dd002c;
   font-family: Zoho_Puvi_SemiBold;
   font-size: 13px;
   transition: all ease-in-out 0.4s;
}

#FreeDownloadBtn:hover {
   color: #fff;
   background-color: #dd002c;
}

.HomePage {
   height: 1500px;
}

/* width */
::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: rgb(196, 196, 196);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}
